<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basktball Team!</h1>
    <form method="POST" action="/team">
        <ul>
        <li>
            <label for="10">Team Name:</label>
            <input type="text" id="10" name="name"/>
        </li>
        <li>
            <label for="11">Coach:</label>
            <input type="text" id="11" name="coach"/>
        </li>

        <li>
            <label for="12">Point Guard:</label>
            <input type="text" id="12" name="pg"/>
        </li>

        <li>
            <label for="13">Shooting Guard:</label>
            <input type="text" id="13" name="sg"/>
        </li>

        <li>
            <label for="14">Small Forward:</label>
            <input type="text" id="14" name="sf"/>
        </li>

        <li>
            <label for="15">Power Forward:</label>
            <input type="text" id="15" name="pf"/>
        </li>

        <li>
            <label for ="16">Center:</label>
            <input type="text" id="16" name="c">
        </li>

        <li>
            <input type="submit" id="Submit">
        </li>
        </ul>
    </form>
 </body>
</html>


